

/* antd override */
input{
    border-radius: 2px !important;
    border: 1px solid gray !important;
    height: 40px !important;
}

/* Common styling */

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.normal-text{
    font-size: 1rem;
}
.card{
    box-shadow:  0 0 2px grey;
    border-radius: 0 !important;
}

/* authentication pages */

.authentication{
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.authentication-form{
    width: 400px;
}